<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin | Home</title>
    <div th:replace="template :: head"></div>
    <style type="text/css">
        main {
            margin: 0 auto;
            padding-bottom: 200px;
            max-width: 100%;
            width: 100%;
        }

        .page-footer {
            clear: bottom;
            position: relative;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            text-align: center;
        }

        div.jumbotron {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<!-- Navbar -->
<div th:replace="template :: admin-nav">
</div>
<!-- Navbar -->

<!-- Full Page Intro -->
<main class="mt-2">
<div class="view full-page-intro" th:unless="${active}">

    <!-- Mask & flexbox options  -->
    <div class="mask  d-flex justify-content-center align-items-center">
        <!-- Main contents -->
        <div class="container">
            <!-- Row -->
            <div class="row  text-center text-md-left">
                <!-- Left Grid Column-->
                <div class="col-md-8 mb-2 mr-1">
                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">
                            <p class="h4 text-center mb-2">Add Tender</p>
                            <form action="/admin/tender/add" autocomplete="off" th:action="@{/tender/add}"
                                  method="post" th:object="${tenderInfo}" enctype="multipart/form-data">
                                <!-- &lt;!&ndash;Tender title &ndash;&gt;-->
                                <label for="tender-title">Tender Title</label>
                                <input type="text" id="tender-title" th:field="*{tenderTitle}" class="form-control">

                                <!--Tender Description -->
                                <label for="tender-description">Tender Decription</label>
                                <textarea type="text" id="tender-description" th:field="*{tenderDescription}"
                                          class="form-control md-textarea" rows="3"></textarea>

                                <!--Tender Requirements-->
                                <label for="tender-requirement">Reguirements/Eligibility</label>
                                <textarea th:type="text" id="tender-requirement" th:field="*{tenderRequirements}"
                                          class="form-control md-textarea" rows="3"></textarea>

                                <!-- Upload application form-->
                                <label for="application-form">Upload tender application form</label>
                                <input type="file" multiple="false" allowTypes="/(\.|\/)(pdf)$/" id="application-form"
                                       name="file" class="form-control">

                                <!--End date for applying-->
                                <label for="date-picker-example">Deadline for applying: </label><br>
                                <input type="date" id="date-picker-example" th:field="*{deadline}">

                                <div class="offset-md-3 col-md-6">
                                    <button type="submit" class="btn btn-primary btn-block">Create Tender</button>
                                </div>
                            </form>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>

            </div>

        </div>
    </div>


</div>

<div class="container" th:if="${active}">

    <div class="jumbotron">

        <!--/*@thymesVar id="tender" type="team.project.dairymanagementsystem.model.TenderInfo"*/-->
        <h2 class="display-4 text-center" th:text="${tender.tenderTitle}">Tender Title</h2>
        <hr class="my-3">

        <h3 class="mb-3">Tender Description</h3>
        <p th:text="${tender.tenderDescription}">This is a detailed description of the tender being advertised, this
            content is fetched database to be displayed to the user</p>

        <hr class="my-3">

        <h3 class="mb-3">Tender Requirements</h3>
        <p class="mb-4" th:text="${tender.tenderRequirements}">A brief description of the tender requirements is
            displayed here</p>

        <p th:if="${tender.fileAttachment != null}"><label>Click <a href="/tender/tender-pdf"
                                                                    th:href="@{/tender/tender-pdf}">here</a> to find a
            detailed document describing all requirements for the tender </label></p>

    </div>
</div>
<!-- Full Page Intro -->
</main>

<!--Footer-->
<footer class="page-footer text-center font-small mt-4">
    <!--Copyright-->
    <div class="py-3">
        © 2018 Copyright
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-- SCRIPTS -->
<div th:replace="template :: js-files"></div>

</body>

</html>