#formbdy{
    background-color: lightgreen;
}
#head2{
    background: url("factory.jpeg");
    height: 155px;

}
#naving{
    color:gold;
    border-spacing: 20px;
}
#hb{
    color: blueviolet;
}
#footing2{
    color: red;
}
#btnmod,#btnmod2,#btnmod3{
    text-decoration-color: deeppink;
    font-style: italic;
    font-family: AnjaliOldLipi;
    alignment: center;
}