<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schools Visit Form</title>
    <link rel="stylesheet" type="text/css" href="schoolVisitCss.css">
    <link rel="stylesheet" href="bootstrap.min.css" >
    <link rel="stylesheet" href="bootstrap.js" >
</head>
<body id="formbdy">
    <div class="container responsive">
        <br>
        <!-- header part-->
        <header id="head2">
            <br><br>



        </header>
        <hr>

        <!--left navbar-->


        <h1 align="center" id="hb"><b>SCHOOLS VISIT FORM</b></h1>
        <br><br>
        <div class="row" id="">
            <div class="col-md-3">
                <!--navbar creation-->
                <div class="navbar navbar-collapse navbar-primary-info  navbar-fixed-side float-lg-left  " id="naving">
                </div>
            </div>
            <!--second column-->
            <div class="col-md-5">
                    <p><b> Full School Name</b>
                    <br>
                    <input type="text" value=" name"> </p>
                    <br>
                    <p>
                        <b>School code</b>
                        <br>
                       <input type="number" value="1983678">
                    </p>
                <br>
                <p>
                    <b>School mail</b>
                    <br>
                    <input type="email" value=" email">
                </p>
                <br>
                <p>
                    <b>County</b>
                    <br>
                    <input type="text" value="enter county">
                </p>


            </div>
            <!--third collumn-->
            <div class="col-md-4">
                <p>Choose the level of your school</p>
                <br><br>
                    <div class=""

            </div>
        </div>
                <!--footer part-->

                <div class="modal-footer" id="footing2">
                     <p>welcome to
                        our university</p>
                </div>



    </div>

</body>
</html>