.centered{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one       */

    display: flex;
    align-items: center;
    background-color: green;
}
label{
    font-weight: bold;
    font-style: italic;
    color: black;
}
form{
    display: inline-block;
}
.contrbox{
    background-color: white;
}
.cardtext{
    color: black;
}