.form-dark .font-small {
    font-size: 0.8rem; }

.form-dark .md-form label {
    color: #fff; }

.form-dark input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #80c86b;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=text]:focus:not([readonly]) + label {
    color: #ff5e95; }

.form-dark input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
    color: #fff; }

.navbarColor {
    background-color: rgb(34,139,34);
}

.navColorText {
    color: rgb(34,139,34);
}