<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add an administator</title>
</head>
<body>

<form action="#" th:action="@{/add-user}" th:object="${user}" method="post">
    <div th:if="${param.error}">
        An error occurred
    </div>
    <label for="id">National id</label>
    <input type="text" name="id"  th:field="*{nationalId}">
    <label for="password">Password</label>
    <input type="password" name="password" th:field="*{password}">
    <button type="submit">Create user</button>
</form>
<p><a th:href="@{/logout}">Logout</a></p>
</body>
</html>