<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
</head>
<body>
<!--/*@thymesVar id="contracts" type="team.dairymanagement.dairymanagementserver.domain.contracts"*/-->
<form th:method="get" th:object="${contracts}">
    <!--Table-->
    <table class="table">

        <!--Table head-->
        <thead class="blue-grey lighten-4">
        <tr>
            <th>Id</th>
            <th>Supplier Id</th>
            <th>Status</th>
            <th>Amount Per Day</th>
            <th>CostPerLitre</th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
        <tr th:each="contract:${contracts}">
            <td th:text="${contract.id}"></td>
            <td th:text="${contract.supplierId}"></td>
            <td th:text="${contract.status}"></td>
            <td th:text="${contract.amountPerDay}"></td>
            <td th:text="${contract.costPerLitre}"></td>
        </tr>

        </tbody>
        <!--Table body-->

    </table>
    <!--Table-->
</form>

</body>
</html>