<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
</head>
<body>
<form th:method="get" th:object="${contracts}">

        <table class="table table-bordered">

            <!--Table head-->
            <thead>
            <tr>

                <th>id</th>
                <th>supplier id</th>
                <th>status</th>

                <th>amount/daily</th>
                <th>cost/litre</th>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
        <tbody>
        <tr th:each="contract:${contracts}" >
            <td th:text="${contract.id}"></td>
            <td th:text="${contract.supplierId}"></td>
            <td th:text="${contract.status}"></td>
            <td th:text="${contract.amountPerDay}"></td>
            <td th:text="${contract.costPerLitre}"></td>
            <td>
                <!--if the status is pending, an approve button should appear-->
                <form th:if="${contract.status == 'pending'}" th:action="@{/contract/approve/{id}(id=${contract.id})}" th:method="POST"
                      th:object="${contract.id}">
                    <button name="id" type="submit">approve</button>
                </form>
                <form th:if="${contract.status == 'pending'}" th:action="@{/contract/deny/{id}(id=${contract.id})}" th:method="POST"
                      th:object="${contract.id}">
                    <button name="id" type="submit">deny</button>
                </form>

                <!--if the status is approved, a cancel button should appear-->
                <form th:if="${contract.status == 'approved'}" th:action="@{/contract/cancel/{id}(id=${contract.id})}" th:method="POST"
                      th:object="${contract.id}">
                    <input type="submit" value="cancel">
                </form>

                <!--if the status is denied, a delete button should appear-->
                <form th:if="${contract.status == 'denied'}" th:action="@{/contract/delete/{id}(id=${contract.id})}" th:method="POST"
                      th:object="${contract.id}">
                    <input type="submit" value="delete">
                </form>
            </td>


        </tr>
        </tbody>
    </table>
</form>

</body>
</html>