<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="contbody">


<div class="contrform">
    <h1> CREATE NEW CONTRACT </h1>
    <br>
    <br>
    <form th:method="post" th:object="${contract}">

        <label id="uname">national Id </label>  <input id="unamei" type="text" placeholder="supplierid" name="suppid" th:field="*{supplierId}"><br>
        <label id="email">email </label>  <input id="emaili"type="text" placeholder="email" name="email" th:field="*{amountPerDay}"><br>
        <label id="amou">amount/daily </label>  <input id="amoui" type="text" placeholder="amount" name="amount" th:field="*{costPerLitre}"><br>
        <label id="cost">cost per litre </label>  <input id="costi" type="text" placeholder="cost" name="cost"><br>
        <button id="submit" name="submit"> submit </button>
        <button id="clear" name="clear"> clear</button>

    </form>


</div>

<form>


</form>

</body>
</html>