<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap/mdb.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="newcontract" >


<div class="newcontractheader">
    <h1> <b> <u> CREATE NEW CONTRACT </u> </b></h1>

    <!-- Extended default form grid -->
    <form>
        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label for="inputPassword4">username</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Username">
            </div>
        </div>
        <!-- Grid row -->

        <!-- Default input -->
        <div class="form-group">
            <label for="inputAddress">Box Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="p.o box">
        </div>
        <!-- Default input -->
        <div class="form-group">
            <label for="inputAddress2">city </label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="city">
        </div>
        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label for="inputCity">amount per day </label>
                <input type="text" class="form-control" id="inputCity" placeholder="in litres">
            </div>
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label for="inputZip">cost per litre</label>
                <input type="text" class="form-control" id="inputZip" placeholder="in kshs ">
            </div>
        </div>
        <!-- Grid row -->
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
    </form>
    <!-- Extended default form grid -->



</div>


</body>
</html>