<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="template :: head">
    </div>
    <link rel="stylesheet" th:href="@{/css/toast/toastr.css}">
    <title>Dairy plant</title>

    <style type="text/css">
        html,
        body,
        header,
        .view {
            height: 100%;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 1000px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .view {
                height: 650px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331 !important;
            }
        }
    </style>
</head>

<body>

<!-- Navbar -->
<div th:replace="template :: welcome-nav">
</div>
<!-- Navbar -->

<!--hidden link that shows an information message as a toast-->
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<div th:if="${message!=null}">
    <span id="toast_msg" th:text="${message}"></span>
    <a id="toast_link"></a>
</div>

<!-- Full Page Intro -->
<div class="view full-page-intro">

    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/93.jpg');
    background-repeat: no-repeat; background-size: cover;">

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">

                <!--Content dispalayed incase there is tender info-->
                <div th:if="${tenderInfo}">
                    <h1 class="mb-4">
                        <strong>Tender</strong>
                    </h1>

                    <p>
                        <strong th:text="${tenderInfo.tenderTitle}">Tender title</strong>
                    </p>

                    <p class="mb-4 d-none d-md-block">
                        <strong th:text="${tenderInfo.tenderDescription}">Tender Brief Description</strong>
                    </p>

                    <a href="/tender/tender-info" class="btn btn-outline-white btn-lg">Click to view more details

                    </a>
                </div>
                <!--Content displayed if no tender info-->
                <div th:unless="${tender}">
                    <a href="#aboutUs" class="btn btn-outline-white btn-lg text-uppercase">About Us </a>
                </div>

            </div>
            <!-- Content -->
        </div>
    </div>

</div>
<!-- Full Page Intro -->

<!--Main layout-->
<main>
    <div class="container">

        <!--Section: Main info-->
        <section class="mt-5 wow fadeIn">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <img src="img/plant.jpg" class="img-fluid z-depth-1-half" alt="">

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-4">

                    <!-- Main heading -->
                    <h3 class="h3 mb-3">EGERTON DAIRY PLANT</h3>
                    <p class="">
                        It is situated close to the university’s Science Complex and provides value addition
                        services to milk and milk products from the 20,000 acre Ng’ongogeri Farm, which houses
                        more than 500 dairy cattle.The dairy production unit collects close to 3,000 litres
                        of milk daily.
                    </p>
                    <!-- Main heading -->
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Main info-->

        <hr class="my-5">

        <!--Section: Our products info -->
        <section id="products">

            <h3 class="h3 text-center mb-5">OUR PRODUCTS</h3>

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!-- Card -->
                    <div class="card card-cascade wider reverse">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" src="img/pasturized_milk.jpg" alt="Pasturized milk">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade ">

                            <!-- Title -->
                            <h4 class="card-title text-center"><strong>Pasturized Milk</strong></h4>

                            <!-- Info -->
                            <p class="card-text">
                                It is widely utilized by the population because of the 'safety' it provides and is said
                                to minimize the risk
                                of contracting milk-borne bacteriaand diseases.It is prepared by heating milk to a
                                temperature higher than the boiling
                                point and then rapidly cooling it.This eventually removes the bacteria and other harmful
                                particles found in conventionally
                                produced milk.Our pasturized milk will give a taste and experience you've never had
                                before.
                            </p>


                        </div>
                        <!--End of Card content-->

                    </div>
                    <!-- Card -->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!-- Card -->
                    <div class="card card-cascade wider reverse">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" src="img/yourgurt.jpg" alt="Yourgut">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade ">

                            <!-- Title -->
                            <h4 class="card-title text-center"><strong>Yoghurt</strong></h4>

                            <!-- Info -->
                            <p class="card-text">

                                Yoghurt has a higher nutritional value than fresh milk due to the live cultures which provide immune boosting to the digestive system.
                                A part from boosting immunity, it is a rich source of protein,
                                nutrients such as calcium, vitamin B2, vitamin B12, Potassium etc. Children and the
                                elderly will benefit more from it
                                due to their enormous calcium requirement. Calcium is also important
                                in the prevention of bone loss in women and bone mass
                                development in all ages.
                            </p>


                        </div>
                        <!--End of Card content-->
                    </div>
                    <!--Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card card-cascade wider reverse">

                        <!--Card image-->
                        <div class="view view-cascade overlay">
                            <img src="img/milk.jpg" class="card-img-top" alt="Fresh milk">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title text-center"><strong>Fresh Milk</strong></h4>
                            <!--Text-->
                            <p class="card-text">Fresh milk is known for its nutritious value to health
                            benefits .It contains vitamin C which help in the formation of strong bones
                            and teeth.It is also good for babies for their development and growth.</p>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->
            </div>
            <!--/Grid row-->

        </section>
        <!--Section: Our product-->

        <hr class="my-5">
        <!--Section: About us-->
        <section id="aboutUs">



            <div class="container">
                <br>
                <!-- header part-->
                <header id="head1">
                    <br><br>

                    <h1 align="center" id="ha"><b>DAIRY MANAGEMENT FACTORY</b></h1>

                </header>
            </div>
            <div>
                <div class="row" style="margin-left: 20%">
                    <div class="col-md-5">
                        <h3 id="subh2">The Management</h3>

                        <P>
                            The factory is being managed by the General manager who is under the Dean of students in the
                            faculty of Dairy Technology.The general manager is responsible for the management of the factory, he
                            oversees the day to day activity of the the factory, then gives the report to the Dean. The Dean on
                            the other hand checks the affairs of the students in relation to the factory and the general welfare of
                            students taking the course.The secretary is responsible for assing apointment to the manager.
                        </P>
                    </div>
                    <div class="col-md-5">
                        <h3 id="subh1">Factory Background</h3>
                        <p>
                            Egerton Dairy factory is located in Njoro Nakuru county, kenya.It is inside Egerton university.
                            The factory was started in the year 2001 as a laboratory where Egerton students taking bachelor in
                            Dairy and Food sciences would take their practical work and do their research work. This was primary
                            reason why it was made.As the capacity grew , it was made to full factory for processing milk and supplying to
                            nearby towns like njoro,Nakuru.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Not enough-->

        <hr class="mb-5">


        <!-- Section: Contact us -->
        <section class="my-4" id="contactUs">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-5">Contact us</h2>
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto pb-5">For any inquiries, please feel free to contact us or reach
                out to our premises </p>

            <!-- Contact us form  -->
            <div class="card" style="width: 70%; margin: 0 auto; padding: 10px">

                <div class="card-body">
                    <!-- Heading -->
                    <h4 class="dark-grey-text text-center">
                        <strong>Write to us</strong>
                    </h4>
                    <hr>

                    <p class="dark-grey-text text-center">We'll write rarely, but only the best content.</p>
                    <!-- Body -->
                    <!--/*@thymesVar id="visitorEmail" type="team.project.dairymanagementsystem.model.VisitorEmail"*/-->
                    <form th:action="@{/email}" th:method="POST" th:object="${visitorEmail}">
                        <div class="md-form">
                            <input type="text" id="form-name" class="form-control" th:field="*{name}">
                            <label for="form-name">Your name</label>
                        </div>
                        <div class="md-form">
                            <input type="text" id="form-email" class="form-control" th:field="*{email}">
                            <label for="form-email">Your email</label>
                        </div>
                        <div class="md-form">
                            <input type="text" id="form-Subject" class="form-control" th:field="*{subject}">
                            <label for="form-Subject">Subject</label>
                        </div>
                        <div class="md-form" style="padding: 10px 0">
                            <textarea class="form-control z-depth-1" id="message" rows="3" th:field="*{message}"></textarea>
                            <label for="message" style="padding: 0 10px">Write something to us here...</label>
                        </div>
                        <div class="text-center">
                            <button class="btn navbarColor">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End of Contact us form -->

        </section>
        <!-- Section: Contact us -->

        <!-- Buttons-->
        <div class="text-center">
            <div class="text-center">
                <p>P.O BOX 536-20255</p>
                <p>Egerton,Njoro</p>
                <p>Mon - Fri, 8:00-5:00 PM</p>
                <p>+ 2547000000</p>
                <p>dairyplant.info@egerton.ac.ke</p>
            </div>
        </div>

    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mt-4">


    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2018 Copyright:

    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-- SCRIPTS -->
<div th:replace="template :: js-files"></div>
<script th:src="@{/js/welcome.js}"></script>

</body>

</html>